@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Remove scrollbar */
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}

@layer components {
	.font-display {
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
}
